# WDL 2022
## Challenge 02
*Optimization of public transport routes during road interruptions*

**Cristian Castro Álvarez**

**Comments**:
- mnivp: Public interventions
- eixodevia: Routes axes
- mncautocarro: Bus routes
- names of the streets has portuguese characters that must be changed

In [1]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
# Data
mnivp = pd.read_csv('mnivp.csv', 
                    sep = ';',
                    header = 0,
                    names = ['id',
                             'applicant',
                             'type of work',
                             'street',
                             'county',
                             'actualization data',
                             'start of works',
                             'end of works',
                             'process number',
                             'status',
                             'temporary reception',
                             'year',
                             'final reception'
                            ]
                   )
mnivp.head()

,id,applicant,type of work,street,county,actualization data,start of works,end of works,process number,status,temporary reception,year,final reception
0,44611945,Particular,Rede el�trica,Rua das Amendoeiras,U.F. Carcavelos e Parede,02-06-2020 09:15,24-04-2020,24-04-2020,WW227609,Em execu��o,NaN,2020,NaN
1,44522015,Particular,Rede el�trica,Rua do Bugio,U.F. Carcavelos e Parede,06-04-2020 13:20,14-04-2020,13-04-2020,WW226781,Em execu��o,NaN,2020,NaN
2,44514495,Particular,Rede el�trica,Rua das Amendoeiras,U.F. Carcavelos e Parede,12-03-2020 09:38,16-03-2020,20-03-2020,WW224828,Em execu��o,NaN,2020,NaN
3,46640212,Particular,Rede el�trica,"Travessa Nuno Trist�o, n.1 em Murches",Alcabideche,11-05-2021 15:52,18-05-2021,19-05-2021,WW272199,Em execu��o,NaN,2021,NaN
4,40717062,ADC �guas de Cascais,Rede el�trica,Caminho do Uruguai,Alcabideche,24-01-2018 12:13,29-01-2018,09-02-2018,IVP/0009/18,Em execu��o,12-02-2018,2018,12-02-2021

In [3]:
mnivp['start'] = pd.to_datetime(mnivp['start of works'], errors = 'coerce')
mnivp['end'] = pd.to_datetime(mnivp['end of works'], errors = 'coerce')
mnivp.drop(['start of works','end of works'], axis = 1, inplace = True)
mnivp.head()

,id,applicant,type of work,street,county,actualization data,process number,status,temporary reception,year,final reception,start,end
0,44611945,Particular,Rede el�trica,Rua das Amendoeiras,U.F. Carcavelos e Parede,02-06-2020 09:15,WW227609,Em execu��o,NaN,2020,NaN,2020-04-24,2020-04-24
1,44522015,Particular,Rede el�trica,Rua do Bugio,U.F. Carcavelos e Parede,06-04-2020 13:20,WW226781,Em execu��o,NaN,2020,NaN,2020-04-14,2020-04-13
2,44514495,Particular,Rede el�trica,Rua das Amendoeiras,U.F. Carcavelos e Parede,12-03-2020 09:38,WW224828,Em execu��o,NaN,2020,NaN,2020-03-16,2020-03-20
3,46640212,Particular,Rede el�trica,"Travessa Nuno Trist�o, n.1 em Murches",Alcabideche,11-05-2021 15:52,WW272199,Em execu��o,NaN,2021,NaN,2021-05-18,2021-05-19
4,40717062,ADC �guas de Cascais,Rede el�trica,Caminho do Uruguai,Alcabideche,24-01-2018 12:13,IVP/0009/18,Em execu��o,12-02-2018,2018,12-02-2021,2018-01-29,2018-09-02

In [4]:
mnivp.isna().sum()

id                        0
applicant                 0
type of work              0
street                   56
county                   56
actualization data        0
process number         1853
status                    0
temporary reception    5137
year                      3
final reception        5134
start                    31
end                      28
dtype: int64

In [5]:
# Check for the routes
eixodevia = pd.read_csv('eixodevia.csv')
eixodevia.head()

,Id,Nome,Tipo,Classifica��o,Comprimento,Sentido,C�digo,Rua Id
0,2116963,Rua Luc�lia do Carmo (Fadista),Normal,Rua,44.810,Dois Sentidos,20000.0,1686247.0
1,2116991,Rua Baptista Pereira,Normal,Rua,16.330,Dois Sentidos,20002.0,1675638.0
2,2116999,Rua Baptista Pereira,Normal,Rua,15.540,Directo,20003.0,1675638.0
3,2234181,Rua Aires de Saldanha,Normal,Rua,8.411,Dois Sentidos,16904.0,2234168.0
4,2234211,Praceta Aires de Saldanha,Normal,Rua,38.820,Dois Sentidos,16905.0,2234217.0

In [6]:
mncautocarro = pd.read_csv('mncarreiraautocarro.csv')
mncautocarro.head()

,Id,Operador,Destino,Data de actualiza��o,Carreira,Origem
0,46925637,Martin,NaN,25/05/2021 11:48:45,M01,M01 Parede Terminal - CascaiShopping via Estoril
1,46925643,Martin,NaN,25/05/2021 11:49:35,M01,M01 Parede Terminal - CascaiShopping via Estoril
2,46925649,Martin,NaN,25/05/2021 11:50:24,M33,M33 Sassoeiros - Tires (Circular)
3,46925654,Martin,NaN,25/05/2021 11:50:46,M33,M33 Sassoeiros - Tires (Circular)
4,46925659,Martin,NaN,25/05/2021 11:50:49,M02,M02 Cascais Esta��o - Malveira (Circular) - A

In [7]:
test = gpd.read_file('mncarreiraautocarro.geojson')
test

,Geometry name,Operador,Data de actualização,Carreira,Origem,geometry
0,Posição,Martin,25/05/2021 11:48:45,M01,M01 Parede Terminal - CascaiShopping via Estoril,None
1,Posição,Martin,25/05/2021 11:49:35,M01,M01 Parede Terminal - CascaiShopping via Estoril,None
2,Posição,Martin,25/05/2021 11:50:24,M33,M33 Sassoeiros - Tires (Circular),None
3,Posição,Martin,25/05/2021 11:50:46,M33,M33 Sassoeiros - Tires (Circular),None
4,Posição,Martin,25/05/2021 11:50:49,M02,M02 Cascais Estação - Malveira (Circular) - A,None
...,...,...,...,...,...,...
771,Posição,Scotturb,25/05/2021 12:51:47,489,489 Oeiras (Estação) - Parede (Terminal),None
772,Posição,Scotturb,25/05/2021 12:51:47,489,489 Oeiras (Estação) - Parede (Terminal),None
773,Posição,Scotturb,25/05/2021 12:51:47,489,489 Oeiras (Estação) - Parede (Terminal),None
774,Posição,Scotturb,25/05/2021 12:51:47,489,489 Oeiras (Estação) - Parede (Terminal),None
775,Posição,Scotturb,25/05/2021 12:51:47,489,489 Oeiras (Estação) - Parede (Terminal),None

In [13]:
test = gpd.read_file('mncarreiraautocarro.geojson')
test.head()

,Geometry name,Operador,Data de actualização,Carreira,Origem,geometry
0,Posição,Martin,25/05/2021 11:48:45,M01,M01 Parede Terminal - CascaiShopping via Estoril,None
1,Posição,Martin,25/05/2021 11:49:35,M01,M01 Parede Terminal - CascaiShopping via Estoril,None
2,Posição,Martin,25/05/2021 11:50:24,M33,M33 Sassoeiros - Tires (Circular),None
3,Posição,Martin,25/05/2021 11:50:46,M33,M33 Sassoeiros - Tires (Circular),None
4,Posição,Martin,25/05/2021 11:50:49,M02,M02 Cascais Estação - Malveira (Circular) - A,None